---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">
    {% include feature/image.html objectid="js_037"%}
    
  </div>
  <div class="col-md-4">  
    {% include feature/card.html text="Read more about the Jewish Community of Kansas on our stories page." %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary"%}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

  </div>

</div>